#header {
  background: var(--color-primary);
  padding: var(--spacing-5);
  font-family: "geomanist", Helvetica, Arial;
}

#header .inner {
  max-width: var(--maxWidth-page);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 10px;
}

.site-logo .url {
  display: block;
  font-size: 1.6rem;
}

#header a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.nav-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
}

.nav-item {
  margin-left: 55px;
}

.nav-list-secondary {
  position: absolute;
  right: 38px;
  top: 38px;
  z-index: 25;
  color: black;
  padding: 0.8em;
  background: #f3f3f3;
  -webkit-box-shadow: 0 3px 8px 0 #ef7f5a;
  box-shadow: 0 3px 8px 0 #ef7f5a;
}
.nav-item-second {
  list-style-type: none;
  color: black;
}
.nav-item-second a {
  color: black !important;
}
.nav-list-secondary {
  display: none;
}
.nav-list-secondary.expanded {
  display: block;
}
.slogan {
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  /* .nav-item {
    margin-left: 55px;
  } */
}

@media (min-width: 780px) {
  .more,
  .nav-list-secondary.expanded {
    display: none;
  }
}
@media (max-width: 780px) {
  .nav-list {
    display: none;
  }
  .more {
    display: initial;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 880px) {
  .slogan {
    display: none;
  }
}
