::-webkit-input-placeholder {
  color: #aaa;
}
:-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #aaa;
}
::-ms-input-placeholder {
  color: #aaa;
}
.footer {
  background-image: linear-gradient(
    to bottom,
    #fff 15%,
    var(--color-primary) 85%
  );
  margin: 0;
  padding-bottom: 20px;
}
/* .footer {
  background: var(--color-primary);
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.upper {
  display: flex;
}
.form-wrap {
  padding: 1em;
  max-width: 600px;
}

.form-wrap form {
  display: flex;
  align-items: center;
}

.form-wrap form .submit-btn {
  background-color: #00c5be;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 0.2em;
  text-transform: uppercase;
  font-weight: normal;
  vertical-align: top;
}

.email-input,
.name-input {
  margin-right: 4px;
}

.form-wrap p {
  padding: 8px 0px;
  margin: 0;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links p {
  font-size: var(--fontSize-0);
  margin: 0;
}

.links a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-size: var(--fontSize-0);
}

.sharewrap {
  padding: 1em;
}
@media screen and (max-width: 820px) {
  .email-input,
  .name-input {
    margin-bottom: 4px;
  }
  .form-wrap form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .form-wrap p {
    font-size: 12px;
  }
  .upper {
    display: flex;
    flex-direction: column;
  }
}
