.footer {
  background-image: linear-gradient(
    to bottom,
    #fff 15%,
    var(--color-primary) 85%
  );
  margin: 0;
  padding-bottom: 180px;
}

/* Fields */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #aaa;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa;
}
/* Button */
.form-wrap form .submit-btn {
  background-color: #00c5be;
  border: none;
  color: #fff;
  font-size: 0.7em;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: normal;
  vertical-align: top;
}

.email-input,
.name-input {
  margin-right: 4px;
}

.form-wrap p {
  padding: 8px 0px;
  margin: 0;
}
/* 

.form-wrap form {
  display: flex;
  margin: 0;
  padding: 0;
}

.form-wrap form input {
  width: 100%;
}

.form-wrap form .submit-btn {
}
 */
.links {
  display: flex;
  font-size: 0.6em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.links a {
  margin-left: 8px;
}

.limit-size {
  max-width: 1200px;
  margin: 0 auto;
}
